<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Calculadora de Gastos</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
        <link rel="icon" href="calculadora_gastos/static/favicon-32x32.png" type="image/x-icon">
    </head>
    <body>
        <h1 style="font-size: 4rem;">💰</h1>
        <h1>Calculadora de Gastos Personales</h1>
        <nav>
            <a href="{{ url_for('index') }}">Inicio</a> |
            <a href="{{ url_for('agregar') }}">Agregar gasto</a> |
            <a href="{{ url_for('gastos') }}">Ver gastos</a> |
            <a href="{{ url_for('totales') }}">Totales por Categoría</a> 
        </nav>
        <hr>
        {% block contenido %}{% endblock %}
    </body>
</html>