{% block contenido %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Calculadora de Gastos Personales</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
        <link rel="icon" href="calculadora_gastos/static/favicon-32x32.png" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <h1>💰 Calculadora de Gastos Personales</h1>
            <p>Bienvenido, esta es una herramienta sencilla para registrar y gestionar tus gastos.</p>
            <a href="/agregar" class="boton"> Ir a la aplicación</a>
        </div>
    </body>
</html>
{% endblock %}