<!-- {% extends "base.html" %}
{% block contenido %}
<p>Bienvenido a tu calculadora de gastos personales.</p>
{% endblock %} -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Gastos Personales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css')}}">
</head>
<body>
    <div class="container">
        <h1>💰 Calculadora de Gastos Personales</h1>
        <p>Bienvenido, esta es una herramienta sencilla para registrar y gestionar tus gastos.</p>
        <a href="/base" class="boton"> Ir a la aplicación</a>
    </div>
    {% block contenido %}{% endblock %}
</body>
</html>